
discord.py[voice]
yt-dlp
python-dotenv
flask
PyNaCl==1.5.0
pynacl
opus-tools
cffi
requests
beautifulsoup4
lyricsgenius
git+https://github.com/sigma67/ytmusicapi
asyncio
ytmusicapi
sift-stack-py

replit
